<!doctype html>
<html>
	<head>
		<title>UpContent</title>
		<link rel="stylesheet" href="/css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link rel="icon" type="image/png"  href="/images/favcon.png">
	</head>

	<body>
		<header>
			<div class="topHeader">
				<div class="logo">
					<a href="/"><img src="/images/logo.png" alt="UpContent Logo"></a><h1><a href="/">UpContent</a></h1>
				</div>

				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/pricing/">Pricing</a></li>
						<li><a href="/howitworks/">How it Works</a></li>
						<li><a href="/about/">About</a></li>
						<li><a href="/post/">Blog</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</nav>
			</div>

			<div class="headerContent">
				<h1>The most effective & powerful content curation tool you can use.</h1>
				<h3>Marketers - Social Media Managers - Knowledge Leaders</h3>
				<p>Work Smarter. Be Smarter. Drive More Engagement. Join the Right Conversations. Fill Your Content Pipeline. Be Relevant.</p>
			</div>
		</header>
