<!doctype html>
<html>
	<head>
		<title>{{ .Title }}</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/price.css">
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div id="header">
			<div class="topHeaderr">
				<div class="logo">
					<a href="/"><img src="/images/logo.png" alt="UpContent Logo"></a>
				</div>

				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/pricing/">Pricing</a></li>
						<li><a href="/howitworks/">How it Works</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/post/">Blog</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
