*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'proxima-nova', sans-serif;
}

p{
	font-size: 18px;
	color: #3a3939;
	line-height: 28px;

}
header {  /* Background Pattern Credit: SubtlePattern.com -- Thanks! */
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: column wrap ;
	-webkit-flex-flow: column wrap ;
	-ms-flex-flow: column wrap ;
	justify-content: center ;
	-webkit-justify-content: center ;
	-ms-justify-content: center ;
	align-content: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	padding: 2%;
	background: url('/images/blog-header-default.jpg');
	background-size: cover;
	min-height: 40%;
	margin-bottom: 70px;
}

.main-headline, .sub-headline{
	flex-grow: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

#header {
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: column wrap ;
	-webkit-flex-flow: column wrap ;
	-ms-flex-flow: column wrap ;
	justify-content: center ;
	-webkit-justify-content: center ;
	-ms-justify-content: center ;
	align-content: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	padding: 30px;
	background: url('/images/header_bg.jpg');
	margin-bottom: 70px;
}

header div.topHeader{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: row wrap ;
	-webkit-flex-flow: row wrap ;
	-ms-flex-flow: row wrap ;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	align-content: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	padding-bottom: 70px;
	width: 100%;
}

#header div.topHeaderr{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: row wrap ;
	-webkit-flex-flow: row wrap ;
	-ms-flex-flow: row wrap ;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	align-content: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	width: 100%;
}

#header div.topHeaderr.landing{
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
}

#header div.landingopen{
	width: 95%;
	text-align:center;
	clear:both;
}

.landingopen h2, .landingright h2{
	font-size: 30px;
	text-align: left;
	font-weight: 300;
	color: #343434;
	margin-bottom: 15px;
	clear:both;
}

.landingopen.intro {
		background: #f6f6f6;
		margin: 70px 0 0 0;
		padding: 50px 10px;
}


.landingopen.intro p{
	font-size: 18px;
	line-height: 28px;
	text-align: center;
}

.landingcontent{
	display: flex;
  	display: -webkit-flex;
  	display: -ms-flex;
 	flex-flow: column wrap;
  	-webkit-flex-flow: row wrap;
 	-ms-flex-flow: row wrap;
  	justify-content: space-around;
  	-webkit-justify-content: space-around;
  	-ms-justify-content: space-around;
 	align-content: center;
 	-webkit-align-content: center;
 	-ms-align-content: center;
 	width: 100%;
 	padding: 0 10px;
}

.landingcontent h3{
	color: #389c78;
	font-size: 22px;
	font-weight: 700;
}

.landingcontent p, .landingcontent ul li{
	font-size: 18px;
}

.landingcontent ul{
	padding-left: 40px;
	list-style: none;
	list-style-image: none;
	margin-top: 10px;
	display: flex;
	flex-flow: row wrap;
}

.landingcontent ul li{
	padding-bottom: 25px;
	line-height: 20px;
	max-width: 250px;
	text-align: center;
	margin: 20px;
}

.landingcontent ul li span{
	font-weight: 700;
}

.landingcontent p strong{
	font-weight: 700;
}

.landingleft{
	min-width: 300px;
	flex-basis: 45%;
	flex-shrink: 1;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
}

.geobg {
	background: url('/images/galaxy.png') !important;
}

.landingleft ul li:nth-child(3) img, .landingleft ul li:last-child img{
	padding-top: 0;
}

.landingleft ul li:nth-child(3){
	padding-top: 10px;
}

.landingleft ul li:nth-child(4){
	padding-top: 5px;
}

.landingleft ul li:nth-child(3) img{
	margin-top: -10px;
}

.landingright{
	flex-basis: 45%;
	flex-shrink: 2;
	background: #fff;
	margin-bottom: 30px;
	border: 1px solid #dadada;
}

.landingright ul{
	clear:both;
	margin-top: 0;
	padding-left: 0;
	display:flex;
	flex-flow: row wrap;
}


.landingright ul:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    margin:0;
}

.landingright ul li{
	display: block;
	padding: 15px 30px;
	min-width: 175px;
	text-align: center;
	min-height: 100px;
	display: flex;
	justify-content: center;
	flex-flow: column;
	flex-grow: 1;
	flex-basis: 20%;
}

.landingright ul li:first-child{
	font-weight: 700;
}

.landingright ul li:first-child .freeplan{
	color: #d8d8d8;
	font-size: 14px;
	line-height: 15px;
}

.landingright ul li:first-child span{
	color: #775486;
}

.landingright ul li a{
	word-wrap: break-word;
}

.landingright ul li:nth-child(2n){
	/*background-color: rgba(23, 61, 80, 0.06);*/
}

.landingright ul li:last-child a{
	padding: 10px 15px;
	background: #775486;
	color: #fff;
	max-width: 200px;
	min-width: 200px;
	margin: 0 auto;
}

.landingright ul li:last-child{
	float: none;
	text-align: center;

}



#header div.landingopen h1{
	color: #fff;
	font-size: 60px;
	font-weight: 300;
	margin-top: 50px;
}

#header div.landingopen p{
	color: #fff;
	font-size: 25px;
	font-weight: 300;
	margin-top: 25px;
	margin-bottom: 60px;
}

#header div.landingopen a.gradientbtn, a.gradientbtn, #features a.gradientbtn{
	background: #49b78d;
	color: #fff;
	display: inline-block;
	padding: 15px 45px;
	border: 2px solid #49b78d;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	-webkit-border-radius: 25px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
	margin: 0 auto;
}

#features a.gradientbtn {
	margin-top: 50px;
}

#header div.landingopen a.gradientbtn:hover, a.gradientbtn:hover, #features a.gradientbtn:hover{
	background: transparent;
	color: #49b78d;
}


#header div.landingopen a.gradientbtn:after{
	background-color: #372C3A;
	padding: 13px 0;
}

.landingopen {
	display:flex;
	flex-flow: column;
}

.landingopen a.gradientbtn {
	margin-top: 30px;
}

.headerContent a{
	color: #fff;
	font-size: 15px;
	padding: 10px 40px;
	border:2px solid #fff;
	-border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	margin-top: 70px;
	text-transform: uppercase;

}

.headerContent a:hover{
	background: #fff;
	color: #5295CC;
	border: 2px solid #fff;
}

header div.topHeader div.logo, #header div.topHeaderr div.logo {
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex:  0 1 auto;
	-webkit-flex:  0 1 auto;
	-ms-flex:  0 1 auto;
	align-self: auto;
	-webkit-align-self: auto;
	-ms-align-self: auto;
	min-width: 0;
	min-height: auto;
}

header div.topHeader div.logo h1, #header div.topHeaderr div.logo h1{
	margin: 22px 0 0 10px;
  	color: #fff;
  	font-size: 32px;
  	text-indent: -9999px;
}

header div.topHeader div.logo h1 a, #header div.topHeaderr div.logo h1 a{
  	color: #fff;
  	text-decoration: none;
  	font-size: 32px;
}

header div.topHeader nav, #header div.topHeaderr nav {
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex:  0 2 auto;
	-webkit-flex:  0 2 auto;
	-ms-flex:  0 2 auto;
	align-self: auto;
	-webkit-align-self: auto;
	-ms-align-self: auto;
	min-width: 0;
	min-height: auto;
	text-align: center;
	flex-direction: column;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
}

header div.topHeader nav ul, #header div.topHeaderr nav ul{
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	
}

header div.topHeader nav ul.subnav, #header div.topHeaderr nav ul.subnav{
	font-size: 1.2em;
	margin-top: 5px;
	text-align: left;
}

header div.topHeader nav ul li, #header div.topHeaderr nav ul li{
	display: inline;
	list-style: none;
	margin-right: 30px;
	line-height: 24px;
}

header div.topHeader nav ul li a, #header div.topHeaderr nav ul li a{
	color: #fff;
	text-decoration: none;
	text-align: center;
}

header div.topHeader nav ul.subnav li a, #header div.topHeaderr nav ul.subnav li a{
	color: rgb(56, 156, 120);
}

header div.topHeader nav ul li a:hover, #header div.topHeaderr nav ul li a:hover{
	color: #49b78d;
	text-decoration: underline;
}

header div.topHeader nav ul li:last-child, #header div.topHeaderr nav ul li:last-child{
	margin-right: 0;
}


header div.topHeader nav ul li a.btnfull, #header div.topHeaderr nav ul li a.btnfull{
	color: #7755cd;
	padding: 10px;
	border: 2px solid #fff;
	background: #fff;
	border-radius: 3px;
}

header div.topHeader nav ul li a.btnfull:hover, #header div.topHeaderr nav ul li a.btnfull:hover{
	text-decoration: underline;
}

header div.topHeader nav ul li a.btn, #header div.topHeaderr nav ul li a.btn{
	color: #fff;
	padding: 10px;
	border: 2px solid #fff;
	background: transparent;
	border-radius: 3px;
}

header div.topHeader nav ul li a.btn:hover, #header div.topHeaderr nav ul li a.btn:hover{
	text-decoration: underline;
}


header div.headerContent{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: column;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	margin-bottom: 40px;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	width: 75%
}

header div.headerContent h1{
	color: #fff;
	font-weight: 300;
	font-size: 40px;
	text-align: center;
	line-height: 45px;
}

header div.headerContent h3{
	color: #fff;
	font-weight: 300;
	font-size: 25px;
	text-align: left;
	margin-top: 25px;
	line-height:35px;
}

header div.headerContent p{
	color: #fff;
	font-weight: 300;
	font-size: 18px;
	text-align: center;
}

.zoom{
	transition: all .2s ease-in-out;
}

.valuelink{
	cursor: pointer;
}

.value {
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: column;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	justify-content: center ;
	-webkit-justify-content: center ;
	-ms-justify-content: center ;
	align-content: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
}

p.testi {
	border: 1px solid lightgrey;
	padding: 15px;
	border-radius: 1px;
	margin-bottom: 20px;
	width: 80%;
}

p.testi em {
	padding-left: 20px;
}

.price, .contact {
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: column;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	justify-content: center ;
	-webkit-justify-content: center ;
	-ms-justify-content: center ;
	align-content: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	padding: 10px 20px;
	margin: 0 auto 65px;
	max-width: 1200px;
}

.pricing p{
	width: 100%; 
	text-align: center;
}

.value h1, .price h1, .featuring h1, .blog_post h1, .contact h1
{
	font-weight: 300;
	font-size: 35px;
	color: #3a3939;
	margin-bottom: 10px;
	line-height: 50px;
	text-align: center;
}

.price h1{
	margin-bottom: 10px;
}

.contact h1{
	margin-bottom: 0;
}

.contact p{
	margin-bottom: 20px;
	text-align: center;
}

.value h1 span, .price h1 span{
	font-weight: 700;
	color: #775486;
	padding-bottom: 5px;
}

.valueStatement{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: row wrap ;
	-webkit-flex-flow: row wrap ;
	-ms-flex-flow: row wrap ;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	align-content: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	padding: 25px 0;
	width: 100%;
	margin-bottom: 35px;
}

.valueStatement > div {
	max-width: 350px;
	text-align: center;
	flex-flow: column;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	margin-bottom: 35px;
	padding: 0 15px;
}

.valueStatement > div > h4{
	text-align: center;
	font-weight: 300;
	font-size: 20px;
	color: #2f2f2f;
	margin: 5px 0;
}

.valueStatement div strong{
	font-weight: 700;
	font-size: 25px;
	color: #49b78d;
	line-height: 30px;
	text-align: center;
	margin: 0 auto;
	margin: 15px 0 10px 0;
}

.valueStatement div p{
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	text-align: justify;
}

.valueStatement div img{
	text-align: center;
	width: 100%;
	margin: 10px auto;
	max-width: 200px;
}

.find{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	align-self: auto;
	-webkit-align-self: auto;
	-ms-align-self: auto;
	min-width: 0;
	min-height: 250px;
	min-width: 300px;
}

.valueStatement em{
	display: block;
	font-weight: bold;
	margin-top: 25px;
	text-align: left;
	font-size:20px;
}

.valueStatement em span{
	font-weight: normal;
}

.rightContent{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	align-self: auto;
	-webkit-align-self: auto;
	-ms-align-self: auto;
	min-width: 0;
	min-height: 250px;
	min-width: 300px
}

.rightContent em span strong{
	font-size: 20px;
}

.engagement{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	align-self: auto;
	-webkit-align-self: auto;
	-ms-align-self: auto;
	min-width: 0;
	min-height: 250px;
	min-width: 300px;
}

.hootsuite-cta{
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  width: 100%;
  background: url('/images/galaxy.png');
  min-height: 200px;
  align-content: center;
  -webkit-align-content: center;
  -ms-align-content: center;
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
}

.value p.link, .features p.link, .why p.link{
	text-align: center;
	margin-top: 20px;
}

.value a, .features a, .why a{
	background: #49b78d; /* Old browsers */
	background: -moz-linear-gradient(top,  #49b78d 0%, #31a070 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49b78d), color-stop(100%,#31a070)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #49b78d 0%,#31a070 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #49b78d 0%,#31a070 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #49b78d 0%,#31a070 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #49b78d 0%,#31a070 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49b78d', endColorstr='#31a070',GradientType=0 ); /* IE6-9 */
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	padding: 15px 30px;
	margin: 30px auto;
	text-decoration: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-align: center;
}

.value p a:hover, .features p a:hover, .why p a:hover, .value a:hover, .features a:hover, .why a:hover{
	background: #31a070; /* Old browsers */
	background: -moz-linear-gradient(top,  #31a070 0%, #49b78d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#31a070), color-stop(100%,#49b78d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #31a070 0%,#49b78d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #31a070 0%,#49b78d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #31a070 0%,#49b78d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #31a070 0%,#49b78d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31a070', endColorstr='#49b78d',GradientType=0 ); /* IE6-9 */


}

.features, .pricing{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: row wrap ;
	-webkit-flex-flow: row wrap ;
	-ms-flex-flow: row wrap ;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	align-content: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	width: 100%;
	background: #f6f6f6;
	padding-bottom: 35px;
}

.featured-screen{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: row wrap ;
	-webkit-flex-flow: row wrap ;
	-ms-flex-flow: row wrap ;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	align-content: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	width: 100%;
	background: #f6f6f6;
	padding: 50px 15px;
}

.featured-screen div.feature-screens{
	display: flex;
	flex-flow: column;
	padding: 40px 0;
}

.feature-screens div {
	text-align: center;
}






.price a{
	padding: 1.3em 3em;
  	color: #FFFFFF;
	border-radius: 2px;
	background-color: #775486;
	font-size: 1.4rem;
	text-indent: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 30px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.price a:hover{
	color: #775486;;
	background: transparent;
	border: 1px solid #775486;
}

.price a.normal{
	background: none;
	color: #775486;
	border: none;
	text-decoration: underline;
	padding: 0;
	font-weight: 700;
	text-transform: none;
	font-size: 25px;
}

.price a.normal:hover{
	background: none;
}

.purposes{
	align-items: inherit !important;
	-webkit-align-items: inherit !important;
	-ms-align-items: inherit !important;
}

.features div p.icon{
	width: 50px;
	height: 50px;
	max-width: 50px;
	max-height: 50px;
	text-align: center;
	overflow: hidden;
	margin: 0 auto 25px auto;
}

.features a{
	min-width: 305px;
}

.features h2, .where h2, .why h2{
	width: 100%;
	text-align: center;
	font-weight: 300;
	font-size: 40px;
	color: #2f2f2f;
	margin: 80px 0 50px 0;
}

.features div{
	min-height: 200px;
	flex-basis: 30%;
	-webkit-flex-basis: 30%;
	-ms-flex-basis: 30%;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	min-width: 266px;
}

.notify{
	font-size: 14px !important;
	line-height: 14px;
}

.notify a{
	color: #B5B5B5 !important;
}

.features div p, 
.featured-screen div p, 
.featured-screen p{
	text-align: center;
	color: #2f2f2f;
	line-height: 20px;
	font-size: 20px;
	font-weight: 400;
	line-height: 22px;
}

.features div p strong{
	font-weight: 700;
	color: #775486;
	font-size: 22px;
}

.why{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: row wrap ;
	-webkit-flex-flow: row wrap ;
	-ms-flex-flow: row wrap ;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	align-content: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	width: 100%;
	padding-bottom: 35px;
}

.why h3{
	width: 75%;
	margin: 40px 0 10px 0;
	font-size: 30px;
	font-weight: 700;
	color: #49b78d;
}

.why h4{
	color: #775486;
	margin: 30px 0 10px 0;
	font-size: 25px;
	font-weight: 700;
	width: 75%;
}

.why ul{
	width: 75%;
	margin: 10px 0 10px 80px;
}

.why ul li, .why ul li ul li{
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 15px;
	list-style: none;
	list-style-type: none;
}

.howtouse ul li, .howtouse ul li ul li{
	list-style: inherit;
}



.why ul li strong{
	color: #49b78d;
}

.why ul li ul li strong{
	color: #775486;
}

.why img{
	max-width: 75%;
	margin: 20px 0;
}

.why em{
	width: 75%;
	font-size: 16px;
	font-style: italic;
	color: #8B8B8B;
}

.why a.basic{
	background: none;
	width: auto;
	color: #775486;
	padding: 0;
}

.why a.basic:hover{
	background: none;
	text-decoration: underline;
	color: #775486;
}

.how{
	margin-top: 80px;
	padding-left: 20px;
}

.how div h2, .how div p{
	text-align: left;
	margin-bottom: 15px;
}

.how div p{
line-height: 28px;
width: 98%;
}

.how div img{
	margin-top: 70px;
}

.curation p, .why p{
	width: 75%;
	font-size: 18px;
	line-height: 28px; 
}

.why p{
	margin-bottom: 10px;
}

.why p strong, .price p strong{
	font-weight: 700;
	color: #49b78d;
}

.purpose{
	flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	padding-left: 20px;
}

.purpose h2{
	text-align: left !important;
}

.purpose p, .purposes p{
text-align: left !important; 
line-height: 28px !important;
}

.where p{
	text-align: center;
}

.price p{
	font-size: 20px;
	line-height: 35px;
}

.pricing h2{
  font-weight: 300;
  font-size: 30px;
  color: #3a3939;
  line-height: 50px;
  text-align: center;
  margin-top: 50px;
}

.feat h2{
font-size: 25px;
}

input.buynow{
	position: static;
	display: inline-block;
	height: auto;
	padding: 1.3em 3em;
	color: #FFFFFF;
	border-radius: 2px;
	background-color: #775486;
	font-size: 1.4rem;
	text-indent: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: none;
	cursor: pointer;
}

.cd-select .grey{
	
}

.blogpostings ul.rrssb-buttons {
	margin-left: 0;
	margin-top: 60px;
}



#header.blogheader {
	background-size: cover !important;
	height: 500px;
	max-width: 100%;
	background-position: center;
}

.blogheader .topHeaderr {
	position: absolute;
	top: 30px;
}

.blogheader .topHeaderr a.btn{
	border: 2px solid #fff !important;
	color: #fff !important;
}

.blogheader .topHeaderr a.btnfull{
	border: 2px solid #fff !important;
	color: #7755cd !important;
	background: #fff !important;
}

.blogheader h1 {
	font-weight: 300;
	font-size: 50px;
	color: #fff;
	margin-top: 60px;
	font-family: 'proxima-nova', sans-serif;
	max-width: 1080px;
    text-align: center;
}

.blogheader h4 {
	font-weight: 700;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    font-family: "proxima-nova", sans-serif;
}

.blogheader p {
	font-weight: 500;
	font-family: 'proxima-nova', sans-serif;
	font-size: 12px;
	color: #fff;
	margin-top: 60px;
}

.blogheader p img {
	float: left;
	margin-top: -10px;
	margin-right: 6px;
}

.bloglogo { 
	background: url('/images/logo-white.png');
}

.blog_listing{
	padding-left: 20px;
	width: 100%;
}

.blogpostings img, .blogpostings figure img {
	max-width: 100%;
}

.blog_listing h1{
	font-weight: 700;
	font-size: 60px;
	margin-bottom: 25px;
	line-height: 50px;
	text-align: center;
}

.blog_post{
	margin-bottom: 50px;
	max-width: 60%;
}

.blog_post a{
	font-size: 18px;
	line-height: 30px;
}

.blog_post h2 a{
	font-weight: 300;
	font-size: 35px;
	margin-bottom: 25px;
	line-height: 50px;
}

.blog_post p{
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin-bottom: 15px;
	color: #3a3939;
}

a.readmore{
	font-weight: 700;
	font-size: 14px;
}

a.blog-cta { 
    color: #7755cd !important;
    text-transform: uppercase;
    font-size: 18px;
    border: 2px solid #7755cd;
    padding: 15px 30px;
    border-radius: 4px;
 }

.blog_post, .blog_listing, .blogpostings {
	font-family: "proxima-nova",sans-serif;
}

.blogpostings blockquote {
	margin-left: 30px;
}

.blogpostings blockquote p{

}

.blogpostings figcaption h4 {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 5px;
}

.blogpostings p sup {
	line-height: 20px;
}

.blogpostings p sub {
	line-height: 20px;
}

.blogpostings ol.cap-letter {
	padding-left: 50px;
}

.blogpostings ol.cap-letter li{
	list-style: upper-alpha;
}

.blogpostings figure {
	text-align: center;
}

.blogpostings{
	width: 60%;
	margin: 10px auto;
}

.blogpostings h1{
	font-size: 50px;
	font-weight: 300;
	color: #775486;
	text-align: center;
	margin-bottom: 20px;
}

.blogpostings h2{
	font-weight: 400;
    text-align: left;
    font-size: 35px;
	color: #49b78d;
	line-height: 50px;
	margin-top: 50px;
}

.blogpostings p{
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 15px;
	color: #565656;
}

.blogpostings h3{
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	margin-top: 20px;
}

.blogpostings h4{
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	margin: 30px 0;
	text-transform: uppercase;
	color: #565656;
}

.blogpostings ul {
	margin-bottom: 20px;
	margin-left: 40px;
	color: #565656;
	margin-top: 10px;
}

.blogpostings ul li {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 25px;
	font-family: 'proxima-nova', sans-serif;
}

.blogpostings ol li{
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
  font-weight: normal;
  padding-bottom: 10px;

  
}

.blogpostings ol li ol li {
	margin-left: 2rem;
	list-style-type: lower-alpha;
	color: #3a3939 !important;
	background: none !important;
	padding-left: 0 !important;
	min-height: 0 !important;
}

.blogpostings ol {
	margin-bottom: 40px;
	margin-left: 40px;
}

.blogpostings ol li ol {
	margin-bottom: 0;
	margin-top: 15px;
}

.blogpostings ol.color-list li:first-child {
	color: #1b556d;
	background: url('/images/delivery-icon.png') no-repeat;
	padding-left: 65px;
	min-height: 60px;
} 

.blogpostings ol.color-list li:nth-child(2) {
	color: #755987  ;
	padding-left: 65px;
	background: url('/images/filter-funnel-icon.png') no-repeat;
	min-height: 60px;
}

.blogpostings ol.color-list li:nth-child(3) {
	color: #5dc1b9 ;
	padding-left: 65px;
	background: url('/images/save-icon.png') no-repeat;
	min-height: 60px;
}

.blogpostings ol.color-list li:last-child {
	color: coral;
	padding-left: 65px;
	background: url('/images/one-search-icon.png') no-repeat;
	min-height: 60px;
}

.blogpostings a {
	color: #49b78d;
	font-weight: 700;
	font-size: 20px;

}


.finder, .rc, .spark{
	-webkit-transition: 0.5s;
  	-moz-transition: 0.5s;
  	transition: 0.5s;
}

.finder:hover, .rc:hover, .spark:hover{
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {display: inline-block;}

.price form {
	margin-top: 30px;
}

.price form input {
	float: left;
    width: 200px;
    border-bottom: 1px solid;
    border-radius: 0;
    margin-right: 20px;
    padding: 0;
    height: 25px;
    margin-top: 14px;
}

.price form input[type="submit"] {
	width: auto;
	padding: 10px 20px;
	border-radius: 20px;
	color: #fff;
	background: #49b78d;
	height: auto;
	margin-top: 0;
}

.contact form{
	background: #f7f7f7;
  	padding: 10px;
  	border: 1px solid #F0F0F0;
  	min-width: 400px;
  	border-radus: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;

}

form input{
	display: block;
	width: 100%;
	height: 50px;
	background: #FFFFFF;
	border: none;
	padding-left: 10px;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Josefin Sans', sans-serif;
	color: #848484;
	margin-bottom:10px;
	border-radus: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
}

form input text, form textarea text{
	color: #848484;
}

form textarea{
	display: block;
	width: 100%;
	height: 200px;
	background: #FFFFFF;
	border: none;
	padding-left: 10px;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Josefin Sans', sans-serif;
	color: #848484;
	margin-bottom:10px;
	padding-top: 10px;
	border-radus: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
}

form button[type="submit"]{
	margin-bottom: 0;
	color: #fff;
	background: #49B785;
	font-weight: normal;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	border: none;
	padding: 15px 30px;
	font-size: 20px;
	float: right;

}

.relevance{
	background: url('/images/relevance.png') no-repeat;
	background-position: center left;
	padding-left: 70px;
	margin-bottom: 30px !important;
	margin-top: 20px;
}

.shareability{
	background: url('/images/shareability.png') no-repeat;
	background-position: center left;
	padding-left: 70px;
	margin-bottom: 30px !important;}

.influence{
	background: url('/images/influence.png') no-repeat;
	background-position: center left;
	padding-left: 70px;
	margin-bottom: 30px !important;
}

.recency{
	background: url('/images/recency.png') no-repeat;
	background-position: center left;
	padding-left: 70px;
	margin-bottom: 30px !important;
}

.pricingcolumns{
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-flow: column;
  -webkit-flex-flow: row;
  -ms-flex-flow: column;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -ms-align-content: center;
  -ms-align-items: center;
  padding: 10px 0;
  margin-bottom: 35px;
}

.pricingcolumns div{
  font-size: 20px;
  max-width: 400px;
  margin: 0 70px;
}

.pricingcolumns div strong{
	font-size: 25px;
	color: rgb(56, 156, 120);
}

.pricingcolumns div ul li span{font-weight: 700;}

.pricingcolumns div ul{padding: 10px 0 20px 40px;}

.pricingcolumns div ul li{padding-bottom: 20px;
}

.pricingcolumns div ul li ul{padding-left: 40px;}




@media only screen and (max-width: 657px) {
	header div.topHeader div.logo, #header div.topHeaderr div.logo{
		padding-bottom: 20px;
	} 

}
