*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Josefin Sans', sans-serif;
}

p{
	font-size: 18px;
	color: #3a3939;
	line-height: 28px;

}
header {
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: column wrap ;
	-webkit-flex-flow: column wrap ;
	-ms-flex-flow: column wrap ;
	justify-content: center ;
	-webkit-justify-content: center ;
	-ms-justify-content: center ;
	align-content: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	padding: 2%;
	background: url('/images/homebg.png');
	background-size: cover;
	min-height: 40%;
	margin-bottom: 5%;
}

.main-headline, .sub-headline{
	flex-grow: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

#header {
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: column wrap ;
	-webkit-flex-flow: column wrap ;
	-ms-flex-flow: column wrap ;
	justify-content: center ;
	-webkit-justify-content: center ;
	-ms-justify-content: center ;
	align-content: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	padding: 2%;
	background: url('/images/header_bg.jpg');
	margin-bottom: 5%;
}

header div.topHeader{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: row wrap ;
	-webkit-flex-flow: row wrap ;
	-ms-flex-flow: row wrap ;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	align-content: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	padding-bottom: 70px;
	width: 100%;
}

#header div.topHeaderr{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: row wrap ;
	-webkit-flex-flow: row wrap ;
	-ms-flex-flow: row wrap ;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	align-content: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	width: 100%;
}

.headerContent a{
	color: #fff;
	font-size: 25px;
	padding: 10px 40px;
	border: 1px solid #fff;
	-border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-align: center;
	text-decoration: none;
	font-weight: 300;
	margin-top: 70px;
}

.headerContent a:hover{
	background: #fff;
	color: #775486;
}

header div.topHeader div.logo, #header div.topHeaderr div.logo {
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex:  0 1 auto;
	-webkit-flex:  0 1 auto;
	-ms-flex:  0 1 auto;
	align-self: auto;
	-webkit-align-self: auto;
	-ms-align-self: auto;
	min-width: 0;
	min-height: auto;
}

header div.topHeader div.logo h1, #header div.topHeaderr div.logo h1{
	margin: 22px 0 0 10px;
  	color: #fff;
  	font-size: 32px;
}

header div.topHeader div.logo h1 a, #header div.topHeaderr div.logo h1 a{
  	color: #fff;
  	text-decoration: none;
  	font-size: 32px;
}

header div.topHeader nav, #header div.topHeaderr nav {
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex:  0 2 auto;
	-webkit-flex:  0 2 auto;
	-ms-flex:  0 2 auto;
	align-self: auto;
	-webkit-align-self: auto;
	-ms-align-self: auto;
	min-width: 0;
	min-height: auto;
	text-align: center;
}

header div.topHeader nav ul, #header div.topHeaderr nav ul{
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	
}

header div.topHeader nav ul li, #header div.topHeaderr nav ul li{
	display: inline;
	list-style: none;
	margin-right: 20px;
	line-height: 24px;
}

header div.topHeader nav ul li a, #header div.topHeaderr nav ul li a{
	color: #fff;
	text-decoration: none;
	text-align: center;
}

header div.topHeader nav ul li a:hover, #header div.topHeaderr nav ul li a:hover{
	color: #49b78d;
	text-decoration: underline;
}

header div.topHeader nav ul li:last-child, #header div.topHeaderr nav ul li:last-child{
	margin-right: 0;
}

header div.headerContent{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: column;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	margin-bottom: 10%;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
}

header div.headerContent h1{
	color: #fff;
	font-weight: 300;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
}

header div.headerContent h3{
	color: #fff;
	font-weight: 300;
	font-size: 35px;
	text-align: center;
	margin-top: 35px;
	line-height:35px;
	width: 75%;
}

header div.headerContent p{
	color: #fff;
	font-weight: 300;
	font-size: 18px;
	text-align: center;
}

.value {
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: column;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	justify-content: center ;
	-webkit-justify-content: center ;
	-ms-justify-content: center ;
	align-content: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
}

.price, .contact {
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: column;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	justify-content: center ;
	-webkit-justify-content: center ;
	-ms-justify-content: center ;
	align-content: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	padding: 10px 0;
	margin-bottom: 5%;
}

.value h1, .price h1, .featuring h1, .blog_post h1, .contact h1
{
	font-weight: 300;
	font-size: 35px;
	color: #3a3939;
	margin-bottom: 10px;
	line-height: 50px;
	text-align: center;
}

.price h1{
	margin-bottom: 10px;
}

.contact h1{
	margin-bottom: 0;
}

.contact p{
	margin-bottom: 20px;
	text-align: center;
}

.value h1 span, .price h1 span{
	font-weight: 700;
	color: #775486;
	border-bottom: 1px dotted #775486;
	padding-bottom: .5%;
}

.valueStatement{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: row wrap ;
	-webkit-flex-flow: row wrap ;
	-ms-flex-flow: row wrap ;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	align-content: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	padding: 2% 0;
	width: 100%;
	margin-bottom: 5%;
}

.valueStatement > div {
	max-width: 350px;
	text-align: center;
	flex-flow: column;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	margin-bottom: 5%;
	padding: 0 15px;
}

.valueStatement > div > h4{
	text-align: center;
	font-weight: 300;
	font-size: 20px;
	color: #2f2f2f;
	margin: 5px 0;
}

.valueStatement div strong{
	font-weight: 700;
	font-size: 25px;
	color: #49b78d;
	line-height: 30px;
	text-align: center;
	margin: 0 auto;
	margin: 15px 0 0 0;
}

.valueStatement div p{
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	text-align: justify;
}

.valueStatement div img{
	text-align: center;
	width: 100%;
	margin: 1% auto;
	max-width: 300px;
}

.find{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	align-self: auto;
	-webkit-align-self: auto;
	-ms-align-self: auto;
	min-width: 0;
	min-height: 250px;
	min-width: 300px;
}

.valueStatement em{
	display: block;
	font-weight: bold;
	margin-top: 25px;
	text-align: left;
}

.valueStatement em span{
	font-weight: normal;
}

.rightContent{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	align-self: auto;
	-webkit-align-self: auto;
	-ms-align-self: auto;
	min-width: 0;
	min-height: 250px;
	min-width: 300px
}

.rightContent em span strong{
	font-size: 18px;
}

.engagement{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	align-self: auto;
	-webkit-align-self: auto;
	-ms-align-self: auto;
	min-width: 0;
	min-height: 250px;
	min-width: 300px;
}

.hootsuite-cta{
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  width: 100%;
  background: url('/images/galaxy.png');
  min-height: 200px;
  align-content: center;
  -webkit-align-content: center;
  -ms-align-content: center;
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
}

.value p.link, .features p.link, .why p.link{
	text-align: center;
	margin-top: 20px;
}

.value a, .features a, .why a{
	background: #49b78d; /* Old browsers */
	background: -moz-linear-gradient(top,  #49b78d 0%, #31a070 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49b78d), color-stop(100%,#31a070)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #49b78d 0%,#31a070 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #49b78d 0%,#31a070 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #49b78d 0%,#31a070 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #49b78d 0%,#31a070 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49b78d', endColorstr='#31a070',GradientType=0 ); /* IE6-9 */
	color: #fff;
	font-weight: 700;
	font-size: 17px;
	padding: 1.3% 3%;
	margin: 0 auto;
	text-decoration: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-align: center;
}

.value p a:hover, .features p a:hover, .why p a:hover, .value a:hover, .features a:hover, .why a:hover{
	background: #31a070; /* Old browsers */
	background: -moz-linear-gradient(top,  #31a070 0%, #49b78d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#31a070), color-stop(100%,#49b78d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #31a070 0%,#49b78d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #31a070 0%,#49b78d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #31a070 0%,#49b78d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #31a070 0%,#49b78d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31a070', endColorstr='#49b78d',GradientType=0 ); /* IE6-9 */


}

.features, .pricing{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: row wrap ;
	-webkit-flex-flow: row wrap ;
	-ms-flex-flow: row wrap ;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	align-content: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	width: 100%;
	background: #f6f6f6;
	padding-bottom: 5%;
}

.price a{
	padding: 1.3em 3em;
  	color: #FFFFFF;
	border-radius: 2px;
	background-color: #775486;
	font-size: 1.4rem;
	text-indent: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 30px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.price a:hover{
	color: #775486;;
	background: transparent;
	border: 1px solid #775486;
}

.price a.normal{
	background: none;
	color: #775486;
	border: none;
	text-decoration: underline;
	padding: 0;
	font-weight: 700;
	text-transform: none;
	font-size: 25px;
}

.price a.normal:hover{
	background: none;
}

.purposes{
	align-items: inherit !important;
	-webkit-align-items: inherit !important;
	-ms-align-items: inherit !important;
}

.features div p.icon{
	width: 50px;
	height: 50px;
	max-width: 50px;
	max-height: 50px;
	text-align: center;
	overflow: hidden;
	margin: 0 auto 5% auto;
}

.features a{
	min-width: 305px;
}

.features h2, .where h2, .why h2{
	width: 100%;
	text-align: center;
	font-weight: 300;
	font-size: 40px;
	color: #2f2f2f;
	margin: 5% 0;
}

.features div{
	min-height: 200px;
	flex-basis: 30%;
	-webkit-flex-basis: 30%;
	-ms-flex-basis: 30%;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	min-width: 266px;
}

.notify{
	font-size: 14px !important;
	line-height: 14px;
}

.notify a{
	color: #B5B5B5 !important;
}

.features div p{
	text-align: center;
	color: #2f2f2f;
	line-height: 20px;
	font-size: 20px;
	font-weight: 400;
	line-height: 22px;
}

.features div p strong{
	font-weight: 700;
	color: #775486;
	font-size: 22px;
}

.why{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-flow: row wrap ;
	-webkit-flex-flow: row wrap ;
	-ms-flex-flow: row wrap ;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	align-content: center;
	-webkit-align-content: center;
	-ms-align-content: center;
	align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	width: 100%;
	padding-bottom: 5%;
}

.why h3{
	width: 75%;
	margin: 40px 0 10px 0;
	font-size: 30px;
	font-weight: 700;
	color: #49b78d;
}

.why h4{
	color: #775486;
	margin: 30px 0 10px 0;
	font-size: 25px;
	font-weight: 700;
	width: 75%;
}

.why ul{
	width: 75%;
	margin: 10px 0 10px 80px;
}

.why ul li, .why ul li ul li{
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 15px;
	list-style: none;
	list-style-type: none;
}

.howtouse ul li, .howtouse ul li ul li{
	list-style: inherit;
}

.why ul li ul{
	margin: 10px 0 10px 0;
}

.why ul li strong{
	color: #49b78d;
}

.why ul li ul li strong{
	color: #775486;
}

.why img{
	max-width: 75%;
	margin: 20px 0;
}

.why em{
	width: 75%;
	font-size: 16px;
	font-style: italic;
	color: #8B8B8B;
}

.why a.basic{
	background: none;
	width: auto;
	color: #775486;
	padding: 0;
}

.why a.basic:hover{
	background: none;
	text-decoration: underline;
	color: #775486;
}

.how{
	margin-top: 80px;
	padding-left: 20px;
}

.how div h2, .how div p{
	text-align: left;
	margin-bottom: 15px;
}

.how div p{
line-height: 28px;
}

.how div img{
	margin-top: 70px;
}

.curation p, .why p{
	width: 75%;
	font-size: 18px;
	line-height: 28px; 
}

.why p{
	margin-bottom: 10px;
}

.why p strong, .price p strong{
	font-weight: 700;
	color: #49b78d;
}

.purpose{
	flex-grow: 1;
	-webkit-flex-grow: 1;
	-ms-flex-grow: 1;
	padding-left: 20px;
}

.purpose h2{
	text-align: left !important;
}

.purpose p, .purposes p{
text-align: left !important; 
line-height: 36px !important;
}

.where p{
	text-align: center;
}

.price p{
	font-size: 20px;
	line-height: 35px;
}

.pricing h2{
  font-weight: 300;
  font-size: 30px;
  color: #3a3939;
  line-height: 50px;
  text-align: center;
  margin-top: 50px;
}

.feat h2{
font-size: 25px;
}

input.buynow{
	position: static;
	display: inline-block;
	height: auto;
	padding: 1.3em 3em;
	color: #FFFFFF;
	border-radius: 2px;
	background-color: #775486;
	font-size: 1.4rem;
	text-indent: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: none;
	cursor: pointer;
}

.cd-select .grey{
	
}

.blog_listing{
	padding-left: 20px;
	width: 100%;
}

.blog_listing h1{
	font-weight: 700;
	font-size: 60px;
	margin-bottom: 5%;
	line-height: 50px;
	text-align: center;
}

.blog_post{
	margin-bottom: 50px;
	max-width: 60%;
}

.blog_post a{
	font-size: 18px;
	line-height: 30px;
}

.blog_post h2 a{
	font-weight: 300;
	font-size: 35px;
	margin-bottom: 5%;
	line-height: 50px;
}

.blog_post p{
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	margin-bottom: 15px;
	color: #3a3939;
}

a.readmore{
	font-weight: 700;
	font-size: 14px;
}

.blogpostings{
	width: 60%;
	margin: 10px auto;
}

.blogpostings h1{
	font-size: 50px;
	font-weight: 300;
	color: #775486;
	text-align: center;
	margin-bottom: 20px;
}

.blogpostings h2{
	font-size: 30px;
	font-weight: 300;
	color: #49b78d;
	line-height: 50px;
	text-align: center;
}

.blogpostings p{
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 15px;
}

.blogpostings h3{
	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	margin-top: 20px;
}


.finder, .rc, .spark{
	-webkit-transition: 0.5s;
  	-moz-transition: 0.5s;
  	transition: 0.5s;
}

.finder:hover, .rc:hover, .spark:hover{
}

.contact form{
	background: #f7f7f7;
  	padding: 10px;
  	border: 1px solid #F0F0F0;
  	min-width: 400px;
  	border-radus: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
}

form input{
	display: block;
	width: 100%;
	height: 50px;
	background: #FFFFFF;
	border: none;
	padding-left: 10px;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Josefin Sans', sans-serif;
	color: #848484;
	margin-bottom:10px;
	border-radus: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
}

form input text, form textarea text{
	color: #848484;
}

form textarea{
	display: block;
	width: 100%;
	height: 200px;
	background: #FFFFFF;
	border: none;
	padding-left: 10px;
	font-size: 20px;
	font-weight: 300;
	font-family: 'Josefin Sans', sans-serif;
	color: #848484;
	margin-bottom:10px;
	padding-top: 10px;
	border-radus: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
}

form button[type="submit"]{
	margin-bottom: 0;
	color: #fff;
	background: #49B785;
	font-weight: normal;
	border-radus: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	border: none;
	padding: 15px 30px;
	font-size: 20px;
	float: right;

}


@media only screen and (max-width: 657px) {
	header div.topHeader div.logo, #header div.topHeaderr div.logo{
		padding-bottom: 20px;
	} 

}
