{{ partial "header_inner.html" . }}

<div class="blog_listing">
  {{ range first 100 .Data.Pages.ByPublishDate }}
    {{ if eq .Type "post"}}
    <div class="blog_post">
     <!--  <img src="{{ .Params.pinterest | absURL }}" alt="{{ .Title }}" style="max-width: 100%;"/> -->
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <p>{{ .Summary }}</p>
      <a class="readmore" href="{{ .Permalink }}">Read More</a>
    </div>
    {{ end }}
  {{ end }}
</div>

{{ partial "footer.html" . }}

