{{ partial "header.html" . }}


		<div class="value">
			<h1><span>Find</span> the <span>Right Content</span> to Power <span>Conversations</span> and Spark <span>Engagement</span>.</h1>

			<div class="valueStatement">
				<div class="find">
					<h4>The Problem</h4>
					<img src="images/find.svg" />
					<strong>Find</strong>
					<p>Finding the right content is time consuming and tedious.<br />
					<em>Consider:</em>It is 3x easier to find a needle in a haystack than to curate from content that was generated in just the last 60 seconds.</p>
				</div>

				<div class="rightContent">
					<h4>The Solution</h4>
					<img src="images/content.svg" />
					<strong>Right Content</strong>
					<p>UpContent makes finding the right content at the right time quick and easy, by employing a multi-factor filtering algorithm.</p>
				</div>

				<div class="engagement">
					<h4>The Strategy</h4>
					<img src="images/engage.svg" />
					<strong>Conversations & Engagement</strong>
					<p>Join the conversation, or be left out. Your customers are conversing, and you need to intelligently contribute to these discussions and lead your own. Achieving engagement begins with finding the right content - interesting, relevant, recent, shareable, and influential – at the right time, very quickly.</p>
				</div>
			</div>

			<a href="#">Use Hootsuite? Get the UpContent App.</a>
		</div>

		<div class="features">
			<h2>Features</h2>
			<div class="1">
				<p class="icon"><img src="images/featured_icons.png" /></p>
				<p><strong>Connect Your Social Platforms</strong> -<br /> easily link all of your Facebook and Twitter profiles to your account.</p>
			</div>

			<div class="2">
				<p class="icon"><img style="margin-left: -75px;" src="images/featured_icons.png" /></p>
				<p><strong>Curate with Ease</strong> -<br />
				find content, then easily post just the content, or add your own commentary; integration with Buffer?</p>
			</div>

			<div class="3">
				<p class="icon"><img style="margin-left: -150px;" src="images/featured_icons.png" /></p>
				<p><strong>Intelligent, Multi-Factor Filtering</strong> -<br />
				filter content based on Sharebility, author or website influence, recency and relevance</p>
			</div>

			<div class="4">
				<p class="icon"><img style="margin-left: -225px;" src="images/featured_icons.png" /></p>
				<p><strong>Save content for later</strong></p>
			</div>

			<div class="5">
				<p class="icon"><img style="margin-left: -300px;" src="images/featured_icons.png" /></p>
				<p><strong>Easy Keyword Creation</strong> -<br /> 
				wizard at set up?</p>
			</div>

			<div class="6">
				<p class="icon"><img style="margin-left: -375px;" src="images/featured_icons.png" /></p>
				<p><strong>Schedule Posts</strong></p>
			</div>

			<a href="/features/">View all of UpContent's Features</a> <a href="/howitworks/">Find Out How It Works</a>
		</div>

		<div class="where">
			<h2>Where You Can Use UpContent</h2>
			<p><img src="images/hootsuite.png" /></p> 
		</div>



{{ partial "footer.html" . }}

