<!doctype html>
<html>
  <head>
    <title>UpContent | {{ .Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/price.css">
    <link href='//fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png"  href="/images/favcon.png">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54282328-1', 'auto', {'name': 'marketing'});
      ga('create', 'UA-54282328-4', 'auto', {'name': 'combined'});
      ga('marketing.send', 'pageview');
      ga('combined.send', 'pageview');
    </script>

    <script type="text/javascript" src="https://xz236.infusionsoft.com/app/webTracking/getTrackingCode?trackingId=17096523c2a2635e7c1b1d94bc261df1"></script>
  </head>

  <body>
    <div id="header">
      <div class="topHeaderr">
        <div class="logo">
          <a href="/"><img src="/images/logo.png" alt="UpContent Logo"></a><h1><a href="/">UpContent</a></h1>
        </div>

        <nav>
          <ul>
            <li><a href="/pricing/">Pricing</a></li>
            <li><a href="/howitworks/">How it Works</a></li>
            <li><a href="/#features">Features</a></li>
            <li><a href="/purpose">Purpose</a></li>
            <li><a href="/post/">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
            <li style="margin-right: 5px;"><a class="btn" href="https://my.upcontent.com/signin">Sign In</a></li>
            <li><a class="btnfull" href="https://my.upcontent.com/signup">Sign Up</a></li>
          </ul>
          {{ if ne .Section "" }}
          <ul class="subnav">
            {{ range where .Site.Pages "Section" .Section }}
                {{ if ne .Type (lower (replace .Title " "  "")) }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            {{ end }}
          </ul>
          {{ end }}
        </nav>

        {{ if eq .Section "post" }} <style>.subnav {display: none;} </style> {{ end }}
      </div>
    </div>
