<!doctype html>
<html>
  <head>
    <script src="//cdn.optimizely.com/js/2889221386.js"></script>
    <title>UpContent | {{ .Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/price.css">
    <link href='//fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png"  href="/images/favcon.png">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <script src="https://use.typekit.net/zmq4sjh.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    {{ partial "segment.html" . }}

    <!-- Facebook Conversion Code for UpContent_User Sign Up -->
    <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6029568652137', {'value':'0.01','currency':'USD'}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6029568652137&amp;cd[value]=0.01&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

  </head>

  <body>
    <div id="header">
      <div class="topHeaderr">
        <div class="logo">
          <a href="/"><img src="/images/logo-white.png" alt="UpContent Logo"></a>
        </div>

        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a class="btnfull" href="https://my.upcontent.com/signup">Sign Up</a></li>
          </ul>

        </nav>
      </div>
</div>

