<!doctype html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <title>UpContent | {{ .Title }}</title>

    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Description }}" />
    <meta property="og:url" content="{{ .Permalink }}" />

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/price.css">
    <link href='//fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/rrssb.css" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="icon" type="image/png"  href="/images/favcon.png">
    <script src="//use.typekit.net/zmq4sjh.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    {{ partial "segment.html" . }}

    <script src="https://gallery.upcontent.com/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="https://gallery.upcontent.com/bower_components/gallery/src/upcontent-gallery/upcontent-gallery.html">
    <meta>
  </head>
