{{ partial "header.html" . }}
  <body>
    <div id="header" class="blogheader">
      <div class="topHeaderr">
        <div class="logo" class="bloglogo">
          <a href="/"><img src="/images/logo-white.png" alt="UpContent Logo"></a><h1><a href="/">UpContent</a></h1>
        </div>

        <nav>
          <ul>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="https://landing.upcontent.com/pricing/">Pricing</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/post/">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
            <li style="margin-right: 5px;"><a class="btn" href="https://my.upcontent.com/signin">Sign In</a></li>
            <li><a class="btnfull" href="https://my.upcontent.com/signup">Sign Up</a></li>
          </ul>
          {{ if ne .Section "" }}
          <ul class="subnav">
            {{ range where .Site.Pages "Section" .Section }}
                {{ if ne .Type (lower (replace .Title " "  "")) }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
            {{ end }}
          </ul>
          {{ end }}
        </nav>

        <style>.subnav {display: none;} </style>
      </div>
      <h1>{{ .Title }}</h1><h4> {{ .Params.category }} </h4>  
      <p><img src=" {{ .Params.author_image }} "/> {{ .Params.author }} </p>
</div>
