<!doctype html>
<html>
  <head>
    <title>UpContent</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='//fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="icon" type="image/png"  href="/images/favcon.png">
    <script src="//use.typekit.net/zmq4sjh.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54282328-1', 'auto', {'name': 'marketing'});
      ga('create', 'UA-54282328-4', 'auto', {'name': 'combined'});
      ga('marketing.send', 'pageview');
      ga('combined.send', 'pageview');
    </script>


    <!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 951177565;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/951177565/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

    <script type="text/javascript" src="//xz236.infusionsoft.com/app/webTracking/getTrackingCode?trackingId=17096523c2a2635e7c1b1d94bc261df1"></script>

    <script>
    document.addEventListener('DOMContentLoaded', function(){
      var valuelinks = document.getElementsByClassName('valuelink');
      for (var i = 0; i < valuelinks.length; i++) {
        var item = valuelinks[i];
        item.addEventListener('mouseover', function() {
          document.getElementById(this.dataset.partner).style.transform = 'scale(1.1)';
        });
        item.addEventListener('mouseout', function() {
          document.getElementById(this.dataset.partner).style.transform = 'scale(1)';
        });
      }
    });
    </script>

    <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '275714046096184');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=275714046096184&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Socedo Tracking Code-->
<script type="text/javascript">
var _socedo = _socedo || [];(function () {var e = ["init", "track", "trackLink"], t = function (e) { return function () { _socedo.push([e].concat(Array.prototype.slice.call(arguments, 0))) } };
for (var n = 0; n < e.length; n++) _socedo[e[n]] = t(e[n])})(), _socedo.load = function (e, o) { _socedo._endpoint = e; if (o) { _socedo.init(o) };
var t = document.createElement("script"); t.type = "text/javascript", t.async = !0, t.src = ("https:" === document.location.protocol ? "https://" : "http://") + "api.socedo.com/Content/soc.js";
var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(t, n) };
_socedo.load(("https:" === document.location.protocol ? "https://" : "http://") + "api.socedo.com");
_socedo.track("4m8YC4", "pageview");
</script>
<noscript><img src="https://api.socedo.com/trk/4m8YC4" alt="" width="1" height="1" style="display:none"></noscript>
  </head>

  <body>
    <header>
      <div class="topHeader">
        <div class="logo">
          <a href="/"><img src="/images/logo-white.png" alt="UpContent Logo"></a><h1><a href="/">UpContent</a></h1>
        </div>

        <nav>
          <ul>
            <li><a href="/pricing/">Pricing</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/post/">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
            <li style="margin-right: 5px;"><a class="btn" href="https://my.upcontent.com/signin">Sign In</a></li>
            <li><a class="btnfull" href="https://my.upcontent.com/signup">Sign Up</a></li>
          </ul>
        </nav>
      </div>

      <div class="headerContent">
          <h1>Less noise. Better Content.</h1>
          <H3>We’re committed to providing a faster and more meaningful way to discover content.</H3>
          <a href="https://my.upcontent.com/signup">Try It For Free</a>
      </div>
    </header>
