{{ partial "header.html" . }}
  <body>
    <div id="header">
      <div class="topHeaderr">
        <div class="logo">
          <a href="/"><img src="/images/logo-white.png" alt="UpContent Logo"></a><h1><a href="/">UpContent</a></h1>
        </div>

        <nav>
          <ul>
            <li><a href="https://upcontent.com/gallery/#/">Gallery</a></li>
            <li><a href="https://landing.upcontent.com/pricing/">Pricing</a></li>
            <li><a href="https://landing.upcontent.com/agency-partners/">Partners</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/post/">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
            <li style="margin-right: 5px;"><a class="btn" href="https://my.upcontent.com/signin">Sign In</a></li>
            <li><a class="btnfull" href="https://my.upcontent.com/signup">Sign Up</a></li>
          </ul>
        </nav>
      </div>
    </div>
