{{ partial "header.html" . }}
    <div class="value">

      <div class="valueStatement">

        <div>
          <h2>Save time by streamlining your search process</h2>
          <p>Easily create a topic by entering specific search queries to generate results that contain only the content you really care about, all in one place. </p>
          <a class="ghost-home-cta" href="http://my.upcontent.com/signup">Create a topic</a>
        </div>

        <div>
          <div class="wistia_responsive_padding"><div class="wistia_responsive_wrapper"><iframe src="//fast.wistia.net/embed/iframe/re07tiat9c?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="600px" style="margin-bottom: 60px;"></iframe></div></div>
          
          <script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
        </div>

      </div>

    </div>

    <div class="card-ui-home">
      <div>
        <img src="/images/cards-ui.png" alt="UpContent Suggestion Cards">
      </div>

      <div>
        <h2>Quickly browse through your results through our simple user interface</h2>
        <p>Preview content suggestions on easy-to-read cards so you’re spending less time “excavating” and more time reading and sharing the results that stand out to you.</p>
        <a class="ghost-home-cta-white" href="http://my.upcontent.com/signup">Explore Suggestions</a>
      </div>
    </div>

     <div class="valueStatement filters">

        <div>
          <h2>Sort your results by influence, relevance, shareability, and recency.</h2>
          <p>Filter your results by social influence and credibility so you’re reading and sharing content from the best sources. </p>
          <a class="ghost-home-cta" href="http://my.upcontent.com/signup">Filter your results</a>
        </div>

        <div>
          <img src="/images/filterbar.png" alt="Filter Your UpContent Topic">
        </div>

      </div>

    <div class="card-ui-home cta-browse">
      <div>
        <img src="/images/cta-browser.png" alt="UpContent Suggestion Card Actions">
      </div>

      <div>
        <h2>Share and save your favorite suggestions</h2>
        <p>Connect your social profiles to UpContent with Buffer or add an UpContent stream to your Hootsuite, and seamlessly share content with your friends and followers. “Heart” your favorites so you can revisit them again. </p>
        <a class="ghost-home-cta-white heart-btn" href="http://my.upcontent.com/signup">Share with your friends </a>
      </div>
    </div>

    <div class="valueStatement">
      <div>
        <a class="ghost-home-cta-full" href="http://my.upcontent.com/signup">Sign Up For Free</a>
        <p style="margin-top: 10px; text-align:center;"><small>*no credit card required</small></p>
      </div>
    </div>

{{ partial "footer.html" . }}
