<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UpContent | A Content Discovery Tool</title>

        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.css">-->
        <link rel="stylesheet" href="css/app.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>
        <script src="js/app.js"></script>

        <script src="https://use.typekit.net/zmq4sjh.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>


        <meta property="og:title" content="{{ .Title }}" />
        <meta property="og:description" content="{{ .Description }}" />
        <meta property="og:url" content="{{ .Permalink }}" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <link rel="icon" type="image/png"  href="/images/favcon.png">
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-54282328-4', 'auto', {'name': 'combined'});
          ga('combined.send', 'pageview');
        </script>
        <!-- Facebook Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '275714046096184');
        fbq('track', "PageView");</script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=275714046096184&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->

        <!-- Socedo Tracking Code-->
        <script type="text/javascript">
        var _socedo = _socedo || [];(function () {var e = ["init", "track", "trackLink"], t = function (e) { return function () { _socedo.push([e].concat(Array.prototype.slice.call(arguments, 0))) } };
        for (var n = 0; n < e.length; n++) _socedo[e[n]] = t(e[n])})(), _socedo.load = function (e, o) { _socedo._endpoint = e; if (o) { _socedo.init(o) };
        var t = document.createElement("script"); t.type = "text/javascript", t.async = !0, t.src = ("https:" === document.location.protocol ? "https://" : "http://") + "api.socedo.com/Content/soc.js";
        var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(t, n) };
        _socedo.load(("https:" === document.location.protocol ? "https://" : "http://") + "api.socedo.com");
        _socedo.track("4m8YC4", "pageview");
        </script>
        <noscript><img src="https://api.socedo.com/trk/4m8YC4" alt="" width="1" height="1" style="display:none"></noscript>

        <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
        <link rel="import" href="/bower_components/gallery/src/upcontent-gallery/upcontent-gallery.html">
        <meta>


    </head>
    <body>
        <div class="off-canvas-wrapper">
            <div class="off-canvas position-left" id="offCanvasNav" data-off-canvas>
                <div class="off-canvas-content" data-off-canvas-content>
                    <nav class="small-12">
                        <ul>
                            <li><a href="/gallery/#/">Gallery</a></li>
                            <li><a href="https://landing.upcontent.com/pricing/">Pricing</a></li>
                            <li><a href="https://landing.upcontent.com/agency-partners/">Partners</a></li>
                            <li><a href="/about/">About</a></li>
                            <li><a href="/post/">Blog</a></li>
                            <li><a href="/contact/">Contact</a></li>
                            <li class="signin"><a href="https://my.upcontent.com/signin">Sign In</a></li>
                            <li class="signup"><a href="https://my.upcontent.com/signup">Sign Up</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="off-canvas-content" data-off-canvas-content>
                <div class="reveal" id="exampleModal1" data-reveal>
                    <div class="wistia_responsive_padding" style="padding:62.5% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><iframe src="//fast.wistia.net/embed/iframe/re07tiat9c?videoFoam=true" title="Wistia video player" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe></div></div>
                    <script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
                </div>
                <!-- BEGIN HEADER -->
                <div class="header">
                    <div class="topbar row small-12">
                        <div class="small-1 show-for-small-only">
                            <button class="menu-icon" type="button" data-open="offCanvasNav"></button>
                        </div>
                        <div class="small-11 medium-4 large-3 column">
                            <div class="logo">UpContent</div>
                        </div>
                        <nav class="small-12 medium-8 large-9 column hide-for-small-only">
                            <ul>
                                <li><a href="/gallery/#/">Gallery</a></li>
                                <li><a href="https://landing.upcontent.com/pricing/">Pricing</a></li>
                                <li><a href="https://landing.upcontent.com/agency-partners/">Partners</a></li>
                                <li><a href="/about/">About</a></li>
                                <li><a href="/post/">Blog</a></li>
                                <li><a href="/contact/">Contact</a></li>
                                <li class="signin"><a href="https://my.upcontent.com/signin">Sign In</a></li>
                                <li class="signup"><a href="https://my.upcontent.com/signup">Sign Up</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="tagline row small-12">
                        <div class="small-12 large-7 column">
                            <h2>A content discovery tool that helps you drive new, more meaningful conversations</h2>
                            <p>Spend less time searching for and more time acting on tailored content to spark informed conversations with your audience--all while becoming a go-to expert in your niche.</p>
                            <a href="https://my.upcontent.com/signup?utm_source=homepage&utm_medium=homepage-hero-cta&utm_campaign=signup">Start a Trial</a>
                            <a data-open="exampleModal1" class="play small-6 medium-5 hide-for-small-only">Watch Video</a>
                        </div>
                        <div class="small-12 large-5 column hide-for-small-only">
                            <img class="upcontentComputer" src="img/mainpage.png" alt="UpContent">
                        </div>
                  </div>
                </div>
                <!-- END HEADER -->

                <!--START MARKETING GOALS -->
                <div class="marketing-goals">
                    <div class="column small-12 large-12">
                        <h3 class="small-12">Meet Your Marketing Goals</h3>
                        <div class="small-12 row align-bottom tabs" data-tabs id="goals">

                            <div class="small-6 large-2 column align-bottom goal tabs-title is-active">
                                <div class="goal-icon streamline">
                                    <a href="#streamline"><img src="img/streamline.png" onmouseover="this.src='img/streamline_hover.png'" onmouseout="this.src='img/streamline.png'"><span>Streamline</span></a>
                                </div>
                            </div>

                            <div class="small-6 large-2 column align-bottom goal tabs-title">
                                <div class="align-bottom goal-icon">
                                    <a href="#discover"><img src="img/discover.png" onmouseover="this.src='img/discover_hover.png'" onmouseout="this.src='img/discover.png'"><span>Discover</span></a>
                                </div>
                            </div>

                            <div class="small-6 large-2 column align-bottom goal tabs-title">
                                <div class="goal-icon">
                                    <a href="#research"><img src="img/research.png" onmouseover="this.src='img/research_hover.png'" onmouseout="this.src='img/research.png'"><span>Research</span></a>
                                </div>
                            </div>

                            <div class="small-6 large-2 column align-bottom goal tabs-title">
                                <div class="goal-icon">
                                    <a href="#influence"><img src="img/influence.png" onmouseover="this.src='img/influence_hover.png'" onmouseout="this.src='img/influence.png'"><span>Influence</span></a>
                                </div>
                            </div>

                            <div class="small-6 large-2 column align-bottom goal tabs-title">
                                <div class="goal-icon">
                                    <a href="#social"><img src="img/social.png" onmouseover="this.src='img/social_hover.png'" onmouseout="this.src='img/social.png'"><span>Stay Social</span></a>
                                </div>
                            </div>

                            <div class="small-6 large-2 column align-bottom end goal tabs-title">
                                <div class="goal-icon">
                                    <a href="#teams"><img src="img/teams.png" onmouseover="this.src='img/teams_hover.png'" onmouseout="this.src='img/teams.png'"><span>Collaboration</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 0;" class="marketing-goals goal-content tabs-content" data-tabs-content="goals">
                    <div id="streamline" class="panel tabs-panel is-active">
                        <div class="row">
                            <div class="small-12 large-5 column">
                                <h4>Streamline Your Curation Process</h4>
                                <p>Reduce your discovery time by over 65%. With only the content you care about available, you don't need to waste time filtering out the rest. Avoid waiting for pages to load by reading the full-text of every article and blog post right within the interface.</p>

                                <a class="signupnowcta" href="https://my.upcontent.com/signup?utm_source=homepage&utm_medium=homepage-goals-cta&utm_campaign=signup">Start a Trial</a>
                            </div>
                            <div class="small-12 large-7 column">
                                <img src="img/streamline_card.png" alt="Streamline Your Curation Process">
                            </div>
                        </div>
                    </div>
                    <div id="discover" class="panel hidden tabs-panel">
                        <div class="row">
                            <div class="small-12 large-5 column">
                                <h4>Discover Great Content</h4>
                                <p>Create a search topic and we’ll scour the internet for only the most relevant and interesting content and filter out all of the rest. Enjoy content that is tailored for you, not just what’s viral or already being shared online.</p>

                                <a class="signupnowcta" href="https://my.upcontent.com/signup?utm_source=homepage&utm_medium=homepage-goals-cta&utm_campaign=signup">Start a Trial</a>
                            </div>
                            <div class="small-12 large-7 column">
                                <img src="img/discover_card.png" alt="Discover Great Content">
                            </div>
                        </div>
                    </div>
                    <div id="research" class="panel hidden tabs-panel">
                        <div class="row">
                            <div class="small-12 large-5 column">
                                <h4>Research to Inform Content Development</h4>
                                <p>Keep a pulse on the conversations happening within your niche or industry to identify the areas where you can add your own insight and expertise and use results as supporting evidence in your own content creation.</p>

                                <a class="signupnowcta" href="https://my.upcontent.com/signup?utm_source=homepage&utm_medium=homepage-goals-cta&utm_campaign=signup">Start a Trial</a>
                            </div>
                            <div class="small-12 large-7 column">
                                <img src="img/research_card.png" alt="Research to Inform Content Development">
                            </div>
                        </div>
                    </div>
                    <div id="influence" class="panel hidden tabs-panel">
                        <div class="row">
                            <div class="small-12 large-5 column">
                                <h4>Become a go-to influencer</h4>
                                <p>Demonstrate your commitment to and knowledge of your audience by sharing your carefully curated results on social media and in your blog posts.</p>

                                <a class="signupnowcta" href="https://my.upcontent.com/signup?utm_source=homepage&utm_medium=homepage-goals-cta&utm_campaign=signup">Start a Trial</a>
                            </div>
                            <div class="small-12 large-7 column">
                                <img src="img/influence_card.png" alt="Become a go-to influencer.">
                            </div>
                        </div>
                    </div>
                    <div id="social" class="panel hidden tabs-panel">
                        <div class="row">
                            <div class="small-12 large-5 column">
                                <h4>Maintain an active online presence</h4>
                                <p>Stay consistent and top-of-mind with a steady, purposeful stream of high-quality curated content, tailored just for your audience through your search topic.</p>

                                <a class="signupnowcta" href="https://my.upcontent.com/signup?utm_source=homepage&utm_medium=homepage-goals-cta&utm_campaign=signup">Start a Trial</a>
                            </div>
                            <div class="small-12 large-7 column">
                                <img src="img/social_card.png" alt="Maintain an active online presence">
                            </div>
                        </div>
                    </div>

                    <div id="teams" class="panel hidden tabs-panel">
                        <div class="row">
                            <div class="small-12 large-5 column">
                                <h4>Collaborate</h4>
                                <p>Sometimes content curation is a group effort, but that doesn’t mean it has to be complicated. Work with your team members and clients by commenting, sharing, and reviewing topics and suggestions to ensure selected content is in alignment with overall goals.</p>

                                <a class="signupnowcta" href="https://my.upcontent.com/signup?utm_source=homepage&utm_medium=homepage-goals-cta&utm_campaign=signup">Start a Trial</a>
                            </div>
                            <div class="small-12 large-7 column">
                                <img src="img/teams_card.png" alt="Collaborate with your team">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="takeback">
                    <div class="row">
                        <div class="small-12 large-12 column">
                            <h4>Take back your time and money</h4>
                            <p>Marketers waste 700 million hours each year finding interesting and relevant content to share and use to engage with others. (This means $30 billion is spent just on content discovery efforts alone.) Yikes! By cutting down on the time spent discovery and curating content by over 65%, UpContent will save you nearly three weeks per year! With all that free time, you might actually take advantage of your well-deserved vacation days! 😉</p>
                        </div>
                        <!-- <div class="large-8 column small-12 column">
                            <img src="#">
                        </div> -->
                    </div>
                </div>

                <div class="marketing-goals">
                    <div class="row">
                        <div class="small-12 large-8 column">
                            <img src="/img/querybuilder.png">
                        </div>
                        <div class="small-12 large-4 column">
                            <h4>How UpContent Works</h4>
                            <ul>
                                <li>Create an UpContent topic using our query builder</li>
                                <li>Sort content by unique filters like influence and shareability</li>
                                <li>Read full-text content right within the platform</li>
                                <li>Integrate with your favorite social media scheduling tools</li>
                                <li>Collaborate with your team to identify and leverage the best curated articles
</li>
                            </ul>
                            <a class="signupnowcta" href="https://my.upcontent.com/signup?utm_source=homepage&utm_medium=homepage-how-it-works-cta&utm_campaign=signup">Start a Trial</a>
                        </div>
                    </div>
                </div>

                <div class="featured-logos expanded row">
                    <div class="small-12 column">
                        <img src="img/logo-bar.png" alt="UpContent has been featured with these companies, and partnered with a few.">
                    </div>
                </div>

                <div class="who row">
                    <div class="small-12 large-12">
                      <h4>The ideal content discovery tool for:</h4>
                    </div>

                    <div class="small-12 medium-4 column text-center float-center">
                        <img src="img/marketer.png" alt="UpContent can help marketers achieve their marketing goals."><div><p>Marketers</p></div>
                    </div>

                    <div class="small-12 medium-4 column text-center">
                        <img src="img/blogger.png" alt="UpContent can help bloggers achieve their blogging goals."><p>Bloggers</p>
                    </div>

                    <div class="small-12 medium-4 column text-center">
                        <img src="img/agency.png" alt="UpContent can help agencies achieve their agency goals."><p>Agencies</p>
                    </div>

                    <a class="signupnowcta" style="margin: 80px auto 0;" href="https://my.upcontent.com/signup?utm_source=homepage&utm_medium=homepage-ideal-tool-cta&utm_campaign=signup">Start a Trial</a>
                </div>



                <div class="actions action-top row expanded small-collapse" data-equalizer>
                    <div class="column small-12 large-6">
                        <div class="action one" data-equalizer-watch>
                            <a href="/post/common-misconceptions-about-content-curation/"><h2>9 Common Misconceptions about Content Curation</h2><p>MARKETING</p></a>
                        </div>
                    </div>
                    <div class="column small-12 large-6">
                        <div class="action two" data-equalizer-watch>
                            <a href="/post/hootsuite-integration/"><h2>Announcing UpContent Integration with Hootsuite as a Content Source</h2><p>BEHIND-THE-SCENES</p></a>
                        </div>
                    </div>
                </div>


                <div class="row expanded small-collapse actions" data-equalizer>
                    <div class="column small-12 large-6">
                        <div class="action three" data-equalizer-watch>
                            <a href="/landing/ebook"><h2>A Guide to Building Your Content Curation Strategy</h2><p>eBOOK</p></a>
                        </div>
                    </div>
                    <div class="column small-12 large-6">
                        <div class="action four" data-equalizer-watch>
                          <a href="/post/content-curation-roles/" target="_blank"><h2>5 Content Curation Roles for a Streamlined and Effective Workflow</h2><p>BLOG</p></a>
                        </div>
                    </div>
                </div>

                <div class="trial row expanded">
                    <div class="small-12 column">
                        <a class="signupnowcta" style="margin: 0;" href="https://my.upcontent.com/signup?utm_source=homepage&utm_medium=homepage-footer-cta&utm_campaign=signupp">Start a trial</a>
                    </div>
                </div>

                <div class="footer row expanded">
                    <div class="small-12 medium-6 large-11 column">
                        <div class="row small-12 expanded small-centered">
                            <ul class="column small-12 large-10">
                                            <li><a href="/faq/">FAQ</a></li>
            <li><a href="/hootsuite-faq/">Hootsuite FAQ</a></li>
            <li><a href="/privacy-policy/">Privacy Policy</a></li>
            <li><a href="/terms-of-service/">Terms of Service</a></li>
            <li><a href="/post/">Blog</a></li>
            <li><a href="/contact/">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-1 column">
                        <div class="logo small-centered"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
