{{ partial "header.html" . }}
    <div class="value">
      <h1><span class="finder">Find</span> the <span class="rc">Right Content</span> to Power Conversations and Spark <span class="spark">Engagement</span>.</h1>

      <div class="valueStatement">
        <div class="find finder">
          <img src="/images/find.png" alt="Find Icon">
          <strong>The Problem</strong>
          <h4>Find</h4>
          <p>Finding the right content is time consuming and tedious.<br />
          <em>Consider:</em>It is 3x easier to find a needle in a haystack than to curate from content that was generated in just the last 60 seconds.</p>
        </div>

        <div class="rightContent rc">
          <img src="/images/solutions3.png" alt="Solution Icon">
          <strong>The Solution</strong>
          <h4>Right Content</h4>
          <p>UpContent makes finding the right content at the right time quick and easy, by employing a multi-dimensional filtering algorithm.</p>
          <em>Most Curation Tools <span>Filter content by relevance or recency</span></em>
          <em>UpContent <span>Filters content by <strong>relevance</strong> AND its <strong>shareability</strong>, <Strong>influence</Strong> or <strong>recency</strong></span></em>
        </div>

        <div class="engagement spark">
          <img src="/images/engage.png" alt="Engage Icon">
          <strong>The Strategy</strong>
          <h4>Conversations & Engagement</h4>
          <p>Join the conversation, or be left out. Your customers are conversing, and you need to intelligently contribute to these discussions and lead your own. Achieving engagement begins with finding the right content - interesting, relevant, recent, shareable, and influential – at the right time, very quickly.</p>
        </div>
      </div>

      <div class="hootsuite-cta">
              <a href="http://appdirectory.hootsuite.com/185/upcontent">Use Hootsuite? Get the UpContent App.</a>
      </div>
    </div>

    <div class="features" id="features">
      <h2>Features</h2>
      <div class="1">
        <p class="icon"><img src="images/featured_icons.png" alt="Connect Icon"></p>
        <p><strong>Connect Your Social Platforms</strong><br /> easily link all of your social media profiles to your account</p>
      </div>

      <div class="2">
        <p class="icon"><img style="margin-left: -75px;" src="images/featured_icons.png" alt="Curate Icon"></p>
        <p><strong>Curate with Ease</strong><br />
        find content, then easily post just the content, or add your own commentary</p>
      </div>

      <div class="3">
        <p class="icon"><img style="margin-left: -150px;" src="images/featured_icons.png" alt="Filtering Icon"></p>
        <p><strong>Intelligent, Multi-Dimensional Filtering</strong><br />
        filter content based on shareability, author or website influence, recency and relevance</p>
      </div>

      <div class="4">
        <p class="icon"><img style="margin-left: -225px;" src="images/featured_icons.png" alt="Save Icon"></p>
        <p><strong>Save Content for Later</strong><br />
          "favorite" content to ensure you don't lose great information as you continue to review your results</p>
      </div>

      <div class="5">
        <p class="icon"><img style="margin-left: -300px;" src="images/featured_icons.png" alt="Easy Icon"></p>
        <p><strong>Easy Keyword Creation</strong><br />
        by accepting keywords and phrases, UpContent empowers you to create topics that best represent what you want to talk about</p>
      </div>

      <div class="6">
        <p class="icon"><img style="margin-left: -375px;" src="images/featured_icons.png" alt="Schedule Icon"></p>
        <p><strong>Schedule Posts</strong><br />
        using Hootsuite's scheduler, you can optimize your time by scheduling content to be posted at a later date or time</p>
      </div>

      <a href="/howitworks/">Find Out How It Works</a>
    </div>

    <div class="where">
      <h2>Where You Can Use UpContent</h2>
      <p><a href="http://appdirectory.hootsuite.com/185/upcontent"><img src="images/hootsuite.png" alt="Hootsuite Logo"></a></p> 
    </div>
{{ partial "footer.html" . }}
